.dropdown-menu__tooltip-menu {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding: 21px 19px;
  border-radius: 10px;
  pointer-events: none;
  background-color: var(--white);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;

  &.dropdown-menu__tooltip-menu--active {
    top: 36px;
    right: -10px;//2px;
    opacity: 1;
    pointer-events: auto;

    .dropdown-menu__tooltip-menu--active-arrow-up {
      position: absolute;
      right: 15px; //40px;
      top: -12px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid var(--white);
      filter: drop-shadow(0 -1.3px 1px rgba(0, 0, 0, 0.1));
    }

  }
}

.dropdown-menu__tooltip-menu-list {
  list-style: none;
  font-size: 12px;
  width: 161px;
  max-width: 100%;
}

.dropdown-menu__tooltip-menu-list-item {
  padding: 8px 10px 7px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--lightestGray);
    transition: background-color 0.3s ease-in-out;
  }
}
